<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Add new review', new_restaurant_review_path(@restaurant) %>

<p id="notice"><%= notice %></p>
<h1>Restaurant <%= @restaurant.name %></h1>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Content</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @restaurant.reviews.each do |review| %>
        <td><%= review.id %></td>
        <td><%= review.content %></td>
        <td><%= review.rating %></td>
      <% end %>
    </tr>
  </tbody>
</table>
